<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <% if flash[:notice] %>
    <p style="color: green;"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>
</body>
</html>
